.main-header .logo {
	font-family: "Slabo 27px", sans-serif;
}

.dropdown-menu .header {
	height: 0px;
	display: none;
}

.dropdown-menu .pull-right {
	height: 0px;
	display: none;
}

/*.skin-blue .main-header .logo {
	background-color: #f39c12;
}
.skin-blue .main-header .logo:hover {
	background-color: #f39c12;
}*/